<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Elcon</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <div class="modal-header rounded-0">
                        <h4 class="modal-title"><b>E L C O N</b></h4>
                  </div>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    
                        <li>
                            <a class="nav-link px-0 align-middle" href="/dashboard" role="button"><i class="fas fa-tachometer-alt"></i> Weekly</a>
                        </li>
                        
                        <li>                            
                            <a class="nav-link px-0 align-middle" href="/logout" role="button"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <span class="d-none d-sm-inline mx-1"><i class="fas fa-user-alt"></i> Hello!, <%= User.name %></span>
                    </div>
                </div>
            </div>
            <div class="col py-3">