<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Elcon</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <div class="modal-header rounded-0">
              <h4 class="modal-title"><b>E L C O N</b></h4>
            </div>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li>
                <a
                  class="nav-link px-0 align-middle text-warning"
                  href="/dashboard"
                  role="button"
                  ><i class="fas fa-tachometer-alt"></i> Next 7 days</a
                >
              </li>

              <li>
                <a
                  class="nav-link px-0 align-middle text-light"
                  href="/month"
                  role="button"
                  ><i class="fas fa-tachometer-alt"></i> Next 30 days</a
                >
              </li>

              <li>
                <a
                  class="nav-link px-0 align-middle text-light"
                  href="/homeAfterLogin"
                  role="button"
                  ><i class="fas fa-tachometer-alt"></i> Home </a
                >
              </li>

              <li>
                <a
                  class="nav-link px-0 align-middle text-danger"
                  href="/logout"
                  role="button"
                  ><i class="fas fa-sign-out-alt"></i> Log Out</a
                >
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4">
              <span class="d-none d-sm-inline mx-1"
                ><i class="fas fa-user-alt"></i> Hello!, <%= User.name %></span
              >
            </div>
          </div>
        </div>
        <div class="col py-3">
          <% var sum = 0; %>
          <% for (let i = 0; i < data[0].length; i++) { %>
          <%     sum += data[0][i]; %>
          <% } %>
          <h3>Next 7 days Electrity forecast  <%= (sum*6).toFixed(2) %> Rupees</h3>

          <div class="jumbotron text-center">
            <div class="container">
              <hr />
              <div>
                <canvas id="myChart"></canvas>
              </div>

              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

              <script>
                const ctx = document.getElementById("myChart");

                new Chart(ctx, {
                  type: "line",
                  data: {
                    labels: [
                    "1", "2", "3", "4", "5", "6", "7",
                    ],
                    datasets: [
                      {
                        label: "Electricity Consumption in KwH",
                        data: JSON.parse("[" + "<%= data[0] %>" + "]"),
                        borderWidth: 1,
                      },
                    ],
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: false,
                      },
                    },
                  },
                });
              </script>
            </div>
          </div>

          <%- include('partials/footerAfterLogin') %>
        </div>
      </div>
    </div>
  </body>
</html>
