<%- include('partials/headerAfterLogin') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <h1 class="display-3">Elcon!</h1> -->
    <!-- <h2 class="secret-text">Hello <%= User.name %></h2> -->
    <hr />
    <div>
      <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById("myChart");

      new Chart(ctx, {
        type: "line",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </div>
</div>

<%- include('partials/footerAfterLogin') %>
