<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>ELCON</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="css/animate.css"
    />
    <link
      rel="stylesheet"
      id="maincss-css"
      href="css/style.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body
    class="home page-template page-template-template_page page-template-template_page-php page page-id-2 wp-custom-logo vsc-initialized"
    id="home"
    style="zoom: 1"
    data-new-gr-c-s-check-loaded="14.1088.0"
    data-gr-ext-installed=""
  >
    <header class="animateheadershadow">
      <div
        class="container desktop-navigation-container hidden-xs hidden-sm animateHeader"
      >
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <!-- div class="nav-right" -->
            <ul id="header-desktop-navigation" class="">
              <li
                id="menu-item-87"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"
              >
                <a href="#working">Working</a>
              </li>
              <li
                id="menu-item-5228"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5228"
              >
                <a href="/dashboard">Next 7 Days</a>
              </li>
              <li
                id="menu-item-153"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153"
              >
                <a href="/month">Next 30 Days</a>
              </li>
              <li
                id="menu-item-6066"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6066"
              >
                Welcome <%= User.name %>
              </li>
              <li
                id="menu-item-276"
                class="login-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-276"
              >
                <a href="/logout">Logout</a>
              </li>
              
          </div>

          <div class="col-xs-12 col-sm-3">
            <!-- startpage -->
            <div class="logo-container-start">
              <a
                href="/"
                class="custom-logo-link"
                rel="home"
                aria-current="page"
                ><img
                  width="320"
                  height="68"
                  src="images/Elcon.jpeg"
                  class="custom-logo animatelogo"
                  alt="ELCON"
                  decoding="async"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="main-content">
      <section
        class="tp-imagefull"
        id="keyvisual"
        style="
          background-image: url(https://images.pexels.com/photos/12507225/pexels-photo-12507225.jpeg)
        "
      >
        <div class="tp-imagefull__text">
          <div class="container">
            <p class="title" style="text-align:right;">Electricity insights <br />that put you in control</p>
          </div>
        </div>
      </section>

      <section class="tp-imagetext" id="ai">
        <div class="container">
          <div class="row">
            <!-- video mobile start-->
            <div class="col-xs-12 visible-xs">
              <div class="vsc-controller vcs-show"></div>
              <video
                class="image wow fadeIn"
                autoplay=""
                muted=""
                loop=""
                style="visibility: visible; animation-name: fadeIn"
              >
                <source
                  src="https://www.enercast.de/wp-content/uploads/2018/05/iStock-666381034.mp4"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
            <!-- video mobile end-->
            <div class="col-xs-12 col-sm-5 col-sm-push-7">
              <div class="textbox the-content textbox-right">
                <h2 class="headline">
                  Forecasted electricity consumption data
                </h2>
                <p style="text-align:justify;">
                  Currently, most static grids do not incentivize load sharing, and ample energy is wasted in suboptimal logistics. An affordable and efficient way of managing resources is essential for our energy needs and the security of the economy. Conservation of energy already in use is an effective way to reduce the consumption of electricity. Focusing on a well-versed way of presenting the consumption to customers so they can make calculated decisions at a large scale and individual level.
                </p>
              </div>
            </div>
            <!-- video bigger mobile start-->
            <div class="col-xs-12 hidden-xs col-sm-7 col-sm-pull-5">
              <div class="vsc-controller"></div>
              <video
                class="image wow fadeIn"
                autoplay=""
                muted=""
                loop=""
                style="visibility: visible; animation-name: fadeIn"
              >
                <source
                  src="https://www.enercast.de/wp-content/uploads/2018/05/iStock-666381034.mp4"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
            <!-- video bigger mobile end-->
          </div>
        </div>
      </section>

      <section class="tp-threeboxes-fw">
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-xs-12 col-sm-12 col-md-4 background"
              style="
                background-image: url(https://www.enercast.de/wp-content/uploads/2018/01/bg_img_products.jpg);
              "
            >
              <div class="row">
                <div class="col-xs-12">
                  <div class="box" style="height: 665px">
                    <h2 class="header" style="height: 50px">
                      Insightful Product
                    </h2>
                    <div class="uppertext" style="height: 300px">
                      <ul>
                        <li>Predictive model for area considering the usage fluctuations based on weather conditions, seasonal attributes (like festival season)​</li>
                        <li>Typical energy consumption profiles built using simulated data generated  from real data sets.​</li>
                        <li>Based on consumption profile forecast its future consumption.​</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xs-12 col-sm-12 col-md-4 background"
              style="
                background-image: url(https://www.enercast.de/wp-content/uploads/2018/01/bg_img_service.jpg);
              "
            >
              <div class="row">
                <div class="col-xs-12">
                  <div class="box" style="height: 665px">
                    <h2 class="header" style="height: 50px">
                      Authentication
                    </h2>
                    <div class="uppertext" style="height: 300px">
                      <p>
                        Elcon believes in providing the best service to the customer. Authentication and security is what we take very seriously and Elcon will never share your data with any third party or anyone at any cost.User data will always remain safe and secure with the help of our strong and robust system. We value our customer’s privacy and work towards building a healthy relationship with them by respecting their personal data and privacy.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xs-12 col-sm-12 col-md-4 background"
              style="
                background-image: url(https://www.enercast.de/wp-content/uploads/2018/01/bg_img_support.jpg);
              "
            >
              <div class="row">
                <div class="col-xs-12">
                  <div class="box" style="height: 665px">
                    <h2 class="header" style="height: 50px">
                      Walk-forward
                    </h2>
                    <div class="uppertext" style="height: 300px">
                      <p>
                        Walk-forward testing carries the idea of 'out-of-sample' testing to the next level. It is a specific application of a technique known as Cross-validation. It means to take a segment of your data to optimize a system, and another segment of data to validate.
                        Since training of statistical models are not time consuming, walk-forward validation is the most preferred solution to get most accurate results.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="tp-boxes-with-image tp-boxes-with-image-style-white"
        id="working"
      >
        <div class="container">
          <div class="row">
              <div class="textbox">
                <img
                  class="boximage"
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/img_focus-e1517429611220.png"
                  alt=""
                />
                <h2 class="headline">Working</h2>
                <div class="">
                  <ol>
                    <li><b>Cleaning:</b></li>
                    <ul>
                      <br>
                      <li>Datetime index created after converting the data to a day-by-day conigeration.</li><br>
                      <li>Homogenized the features for minimizing bias between features.</li><br>
                      <li>Filled missing entries that may have been caused due to transmission or storage losses or due to error in sensors by filling with data from T-1 day.</li><br>
                      <li>Created an extra feature called sub-metering that processes left out energy usage as a separate category.</li><br>
                    </ul>
                    <li><b>Train/Test Split:</b></li>
                    <ul>
                      <br>
                      <li>Split the data into a 3+1 configuration after a split into standard weeks.</li><br>
                      <li>Applied walk-forward algorithm for validation where each new week predicted is inculcated into the data for prediction of next week and so on and on.</li><br>
                    </ul>
                    <li><b>Pipelined normalization:</b></li><br>
                    <p>Created a standardized pipeline including normalization, standardization and modelling over different ML models for convenient and efficient operation.
                    </p>
                    <li><b>Training:</b></li><br>
                    <p>Used various different models included in but not limited to scikit-learn using the standardized pipeline to access the models based on their RSME score.</p>
                    <li><b>Selecting a model:</b></li><br>
                    <p>SGD model produced the lowest error with additional benefits including:</p>
                    <p>Reduced redundancy arising from retraining model.</p>
                    <p>Maximum/Minimum segmentation for iterations</p>

                    <li><b>Hyperparameter tuning:</b></li><br>
                    <p>For the final model selected, the hyper-parameters were further enhanced on the detailed dataset acquired to provide hyper-localized results for the required purpose.
                    </p>
                  </ol>
                </div>
            </div>
          </div>
        </div>
      </section>
   
      <section
        class="tp-parallax-desktop hidden-xs hidden-sm"
        id="team"
        style="
          background-image: url(https://www.enercast.de/wp-content/uploads/2018/01/forecasting-jungs-1.jpg);
        "
      >
        <div class="container-fluid">
          <div class="row hidden-md hidden-lg">
            <div class="col-xs-12">
              <div class="mobile-image">
                <img
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/forecasting-jungs-1.jpg"
                />
              </div>
            </div>
          </div>

          <div class="tp-parallax-desktop__text">
            <span>Electricity insights that put you in control</span>
          </div>
        </div>
      </section>
</html>