<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>ELCON</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="css/animate.css"
    />
    <link
      rel="stylesheet"
      id="maincss-css"
      href="css/style.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body
    class="home page-template page-template-template_page page-template-template_page-php page page-id-2 wp-custom-logo vsc-initialized"
    id="home"
    style="zoom: 1"
    data-new-gr-c-s-check-loaded="14.1088.0"
    data-gr-ext-installed=""
  >
    <header class="animateheadershadow">
      <div
        class="container desktop-navigation-container hidden-xs hidden-sm animateHeader"
      >
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <!-- div class="nav-right" -->
            <ul id="header-desktop-navigation" class="">
              <li
                id="menu-item-87"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"
              >
                <a href="/">Working</a>
              </li>
              <li
                id="menu-item-5228"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5228"
              >
                <a href="/">Webinars</a>
              </li>
              <li
                id="menu-item-153"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153"
              >
                <a href="/">About Us</a>
              </li>
              <li
                id="menu-item-6066"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6066"
              >
                <a href="/register">Register</a>
              </li>
              <li
                id="menu-item-276"
                class="login-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-276"
              >
                <a href="/login">Login</a>
              </li>
              
          </div>

          <div class="col-xs-12 col-sm-3">
            <!-- startpage -->
            <div class="logo-container-start">
              <a
                href="/"
                class="custom-logo-link"
                rel="home"
                aria-current="page"
                ><img
                  width="320"
                  height="68"
                  src="images/Elcon.jpeg"
                  class="custom-logo animatelogo"
                  alt="ELCON"
                  decoding="async"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="main-content">
      <section
        class="tp-imagefull"
        id="keyvisual"
        style="
          background-image: url(https://images.pexels.com/photos/12507225/pexels-photo-12507225.jpeg)
        "
      >
        <div class="tp-imagefull__text">
          <div class="container">
            <p class="title" style="text-align:right;">Electricity insights <br />that put you in control</p>
          </div>
        </div>
      </section>

      <section class="tp-imagetext" id="ai">
        <div class="container">
          <div class="row">
            <!-- video mobile start-->
            <div class="col-xs-12 visible-xs">
              <div class="vsc-controller vcs-show"></div>
              <video
                class="image wow fadeIn"
                autoplay=""
                muted=""
                loop=""
                style="visibility: visible; animation-name: fadeIn"
              >
                <source
                  src="https://www.enercast.de/wp-content/uploads/2018/05/iStock-666381034.mp4"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
            <!-- video mobile end-->
            <div class="col-xs-12 col-sm-5 col-sm-push-7">
              <div class="textbox the-content textbox-right">
                <h2 class="headline">
                  Power&nbsp;forecasts for renewable&nbsp;energy
                </h2>
                <p style="text-align:justify;">
                  Managing weather-induced volatility is key to the successful
                  integration of renewable energy into the power grid and energy
                  markets. Since 2011, enercast provides accurate power
                  generation forecasts that enable our customers around the
                  world to efficiently operate their assets, ensure grid
                  stability and increase their trading margins. With the ability
                  to train forecasts for the specifics of each individual site,
                  enercast helps build the decentralized energy system of the
                  future.
                </p>
              </div>
            </div>
            <!-- video bigger mobile start-->
            <div class="col-xs-12 hidden-xs col-sm-7 col-sm-pull-5">
              <div class="vsc-controller"></div>
              <video
                class="image wow fadeIn"
                autoplay=""
                muted=""
                loop=""
                style="visibility: visible; animation-name: fadeIn"
              >
                <source
                  src="https://www.enercast.de/wp-content/uploads/2018/05/iStock-666381034.mp4"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
            <!-- video bigger mobile end-->
          </div>
        </div>
      </section>

      <section class="tp-threeboxes-fw">
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-xs-12 col-sm-12 col-md-4 background"
              style="
                background-image: url(https://www.enercast.de/wp-content/uploads/2018/01/bg_img_products.jpg);
              "
            >
              <div class="row">
                <div class="col-xs-12">
                  <div class="box" style="height: 665px">
                    <h2 class="header" style="height: 50px">
                      Insightful Products
                    </h2>
                    <div class="uppertext" style="height: 300px">
                      <p>
                        Our products are designed to provide you with the
                        insights you need to take the right business decisions.
                        With the enercast Portal, you are in full control:
                        Flexibly configure your intraday, day-ahead or long-term
                        forecasts and comfortably manage your asset data.
                        Advanced charting helps you analyze the results and take
                        the necessary action. Our software-as-a-service approach
                        gives you easy access and uninterrupted availability.
                      </p>
                    </div>

                    <a
                      class="button-link"
                      href="https://portal.enercast.de/#/register"
                      target="_blank"
                      >Try it today!
                      <img
                        class="linkicon"
                        src="./enercast_ Power forecasts and digital transformation for renewable energy_files/icon_trial_link.png"
                    /></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xs-12 col-sm-12 col-md-4 background"
              style="
                background-image: url(https://www.enercast.de/wp-content/uploads/2018/01/bg_img_service.jpg);
              "
            >
              <div class="row">
                <div class="col-xs-12">
                  <div class="box" style="height: 665px">
                    <h2 class="header" style="height: 50px">
                      Professional Services
                    </h2>
                    <div class="uppertext" style="height: 300px">
                      <p>
                        Our Professional Services are available to assist with
                        the integration of our products into your business
                        process. Whether you need specific connectors, a
                        full-service process analysis, or tailor-made
                        forecasting solutions, don’t hesitate to talk to us
                        about what’s possible.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xs-12 col-sm-12 col-md-4 background"
              style="
                background-image: url(https://www.enercast.de/wp-content/uploads/2018/01/bg_img_support.jpg);
              "
            >
              <div class="row">
                <div class="col-xs-12">
                  <div class="box" style="height: 665px">
                    <h2 class="header" style="height: 50px">
                      Dedicated Support
                    </h2>
                    <div class="uppertext" style="height: 300px">
                      <p>
                        Our Customer Support ensures that you get the most from
                        your enercast products. You can choose from a range of
                        options that include application and setup support,
                        expert advice or access to a 24/7 emergency hotline. And
                        in the background, they continuously monitor all
                        operations and ensure the quality of your forecast.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="tp-boxes-with-image tp-boxes-with-image-style-white"
        id="providingdata"
      >
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="textbox">
                <img
                  class="boximage"
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/img_focus-e1517429611220.png"
                  alt=""
                />
                <h2 class="headline">Efficient asset management</h2>
                <div class="textbox the-content">
                  <p>
                    Using our integration platform, forecasts can now be
                    integrated quickly and interactively into our customers’
                    business processes. The result: Weather-specific process
                    deviations and effects become more transparent, enabling an
                    optimal management of your valuable assets.
                  </p>
                  <p>
                    For example, energy suppliers and grid operators can
                    increase the investment security of their sites and systems
                    by improving continuous feed-in into the energy grid.
                  </p>
                  <p>
                    <a
                      class="download"
                      href="https://www.enercast.de/wp-content/uploads/2014/09/case_study_ovag_web_en140218.pdf"
                      target="_blank"
                      rel="noopener"
                      >Case Study: ovag Netz AG</a
                    >
                  </p>
                  <p>
                    <a
                      class="download"
                      href="https://www.enercast.de/wp-content/uploads/2014/09/cs_energienetz-mitte_010917_EN_web.pdf"
                      target="_blank"
                      rel="noopener"
                      >Case Study: EnergieNetz Mitte GmbH</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="textbox">
                <img
                  class="boximage"
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/img_bulb-e1517429471697.png"
                  alt=""
                />
                <h2 class="headline">Enabling energy trading</h2>
                <div class="textbox the-content">
                  <p>
                    Our open integration platform enables the fusion of a wide
                    variety of information.
                  </p>
                  <p>
                    For example, if historical weather data, energy consumption
                    and production data are combined with other qualitative
                    information, artificial neural networks can find
                    correlations and patterns that allow a stable price forecast
                    for the intraday, spot and control energy markets.
                  </p>
                  <p>
                    For instance, this allows direct marketers and energy
                    traders to make better trading decisions.
                  </p>
                  <p>
                    <a
                      class="download"
                      href="https://www.enercast.de/wp-content/uploads/2018/02/cs_engie_300118_EN_web.pdf"
                      target="_blank"
                      rel="noopener"
                      >Case Study: Engie SA</a
                    >
                  </p>
                  <p>
                    <a
                      class="download"
                      href="https://www.enercast.de/wp-content/uploads/2018/02/cs-baywa-re-web-020218-EN.pdf"
                      target="_blank"
                      rel="noopener"
                      >Case Study: BayWa r. e. Clean Energy Sourcing GmbH</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="tp-boxes-with-image tp-boxes-with-image-style-white"
        id="digitization"
      >
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="textbox">
                <img
                  class="boximage"
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/img_steps-e1517429395993.png"
                  alt=""
                />
                <h2 class="headline">
                  Digital transformation of renewable energy
                </h2>
                <div class="textbox the-content">
                  <p>
                    Digital transformation means changing processes, objects and
                    events for the use of digital devices. A key element of this
                    are standardized data and structures.
                  </p>
                  <p>
                    This is exactly where our API for interactive file mapping
                    comes in. A uniform and consistent data quality is achieved
                    by using an AI-based data cleansing tool.
                  </p>
                  <p>
                    This enables energy and industrial companies to increase
                    productivity and reduce maintenance costs by combining and
                    processing a wide variety of data sources to create new
                    insights.
                  </p>
                  <p>
                    <a
                      class="download"
                      href="https://www.enercast.de/wp-content/uploads/2014/09/case_study_sw_kassel_140312_en.pdf"
                      target="_blank"
                      rel="noopener"
                      >Case Study: Städtische Werke AG</a
                    >
                  </p>
                  <p>
                    <a
                      class="download"
                      href="https://www.enercast.de/wp-content/uploads/2018/01/case_study_iwes_mackensen_150517_web_EN.pdf"
                      target="_blank"
                      rel="noopener"
                      >Case Study: Fraunhofer IEE</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="textbox">
                <img
                  class="boximage"
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/img_load-e1517429547696.png"
                  alt=""
                />
                <h2 class="headline">Optimization of<br />Smart Grids</h2>
                <div class="textbox the-content">
                  <p>
                    Using our open forecasting platform, historical weather data
                    and data of the current total energy consumption of a city
                    or district as well as the local, but volatile feed-in
                    volumes of renewable energies can be integrated,
                    standardized and correlated.
                  </p>
                  <p>
                    Structurally fluctuating energy consumption loads can thus
                    be better predicted, which, for example, can save costs for
                    municipal utilities and local distributors and increase grid
                    stability.
                  </p>
                  <p>
                    <a
                      class="download"
                      href="https://www.enercast.de/wp-content/uploads/2018/01/cc_iwes_nestle_web_240817-EN.pdf"
                      target="_blank"
                      rel="noopener"
                      >Case Study: Fraunhofer IEE</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
   
      <section
        class="tp-parallax-desktop hidden-xs hidden-sm"
        id="team"
        style="
          background-image: url(https://www.enercast.de/wp-content/uploads/2018/01/forecasting-jungs-1.jpg);
        "
      >
        <div class="container-fluid">
          <div class="row hidden-md hidden-lg">
            <div class="col-xs-12">
              <div class="mobile-image">
                <img
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/forecasting-jungs-1.jpg"
                />
              </div>
            </div>
          </div>

          <div class="tp-parallax-desktop__text">
            <span>Electricity insights that put you in control</span>
          </div>
        </div>
      </section>

      <section class="tp-footer-main">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 content-row">
              <div class="textbox">
                <img
                  class="logo"
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/logo_enercast_white_new.png"
                  alt=""
                /><br /><br />
                <p>
                  enercast GmbH<br />
                  Universitätsplatz 12<br />
                  34127 Kassel<br />
                  Germany
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 content-row">
              <div class="section-headline">GET IN TOUCH</div>
              <div class="textbox">
                <p>
                  T&nbsp;&nbsp;+49 (5 61) 4 73 96 64-0<br />
                  F&nbsp;&nbsp;+49 (5 61) 4 73 96 64-99<br />
                  E&nbsp;&nbsp;<a href="mailto:info@enercast.de"
                    >info@enercast.de</a
                  >
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3 content-row">
              <div class="section-headline">SOCIAL MEDIA</div>
              <ul class="socialmedia">
                <li class="twitter">
                  <a href="https://twitter.com/enercastnews" target="_blank"
                    ><img
                      class="icon"
                      src="./enercast_ Power forecasts and digital transformation for renewable energy_files/icon_twitter.png"
                  /></a>
                </li>
                <li class="facebook">
                  <a href="https://www.facebook.com/enercast" target="_blank"
                    ><img
                      class="icon"
                      src="./enercast_ Power forecasts and digital transformation for renewable energy_files/icon_facebook.png"
                  /></a>
                </li>
                <li class="linkedin">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </li>
                <li class="xing">
                  <a
                    href="https://www.xing.com/pages/enercastgmbh"
                    target="_blank"
                    ><img
                      class="icon"
                      src="./enercast_ Power forecasts and digital transformation for renewable energy_files/icon_xing.png"
                  /></a>
                </li>
              </ul>
            </div>
            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-3 content-row newsletter-row hidden-xs hidden-sm"
            >
              <div class="section-headline">NEWSLETTER</div>
              <div
                id=""
                class="subheadline-newsletter modal_newsletter_signup_click"
              >
                <img
                  class="mailicon"
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/icon_newsletter.png"
                />Subscribe to our newsletter
              </div>
              <div class="newsletter-textbox">
                Subscribe to receive updates about wind and solar power
                forecasting, as well as enercast news and events.
              </div>
            </div>
          </div>

          <div class="row hidden-md hidden-lg">
            <div class="col-xs-12 col-sm-6 col-md-3 content-row newsletter-row">
              <div class="section-headline">NEWSLETTER</div>
              <div
                id=""
                class="subheadline-newsletter modal_newsletter_signup_click"
              >
                <img
                  class="mailicon"
                  src="./enercast_ Power forecasts and digital transformation for renewable energy_files/icon_newsletter.png"
                />Subscribe to our newsletter
              </div>
              <div class="newsletter-textbox">
                Subscribe to receive updates about wind and solar power
                forecasting, as well as enercast news and events.
              </div>
            </div>
          </div>
        </div>
      </section>

      
</html>
